*{
	font-family: "微軟正黑體";
}
/*	index css*/
.index p{
	 font-size: 18px;
}
.index h2{
	 font-style: bold;
	 font-size: 30px;
}
.index h4{
	 font-style: bold;
	 font-size: 23px;
}

/*	intro css*/
.intro p{
	 font-size: 18px;
}
.intro h3{
	 font-size: 28px;
	 font-style: bold;
	
}

/*	service css*/
.serviceC p{
	font-size: 18px;
}
.serviceC ul{
	margin-top:20px;
}
.serviceC li{
	text-align:center;
	font-size: 20px;
	font-style: bold;
	list-style:none;
	margin:0px 20px 20px 20px;
}
.serviceC h4{
	font-style: bold;
	font-size: 23px;
}
.serviceC img{
	width:200px;
	height:200px;
	border-radius: 8px;
	border: 1px solid #ddd;
    padding: 5px;
}

/*	station css*/
.station p{
	font-size: 18px;
}

.station h4{
	font-style: bold;
	font-size: 23px;
}

/*	contact css*/
.contact label{
	font-size: 18px;
}

/*	footer css	*/
.footer-bs {
    background-color: #e3f2fd;
	padding: 60px 40px;
	color: rgba(89,174,231,1.00);
	margin-bottom: 0px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(89,174,231,1.00); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(89,174,231,1.00);}
.footer-bs .footer-nav ul.pages a:hover { color:rgba(82,125,239,1.00); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(89,174,231,1.00);  font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.list a:hover { color:rgba(82,125,239,1.00); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(89,174,231,1.00);}
.footer-bs .footer-social a:hover { color:rgba(82,125,239,1.00); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(89,174,231,1.00); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(89,174,231,1.00); }
}